@page
@model SoftwareEnginner_ClubBaist.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome Home";
}
@section HomeContent
{

    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

@section indexContent
{
    <div class="divHeader">
        <h1>Welcome @Model.Username !</h1>

    </div>




}