@page
@model SoftwareEnginner_ClubBaist.Pages.ScoreModel
@{
    ViewData["Title"] = "Golf Score";
}
@section ScoreScript
{

    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

@section GolfScoreSection
{
    <section class="divHeader">
        <h1> Gold Score </h1>
        <div>
            <form name="ScoreForm" method="post">
                <div class="messages">
                    <br />
                    <h4 style="color:red">@Model.Message</h4>
                </div>
                <div class="container">
                    <div class="row g-3">
                        @for (int i = 1; i < 19; i++)
                        {
                            string inputValue = $"HoleScore{i}";

                            <div class="col-12 col-mid-6 col-lg-6">
                                <label> Hole @i Score :  <input type="text" name="@inputValue" pattern="[0-9]+" required title="Must Insert the Value and Only Number is Valid" class="form-control" /></label>

                            </div>

                            <br />
                        }
                    </div>
                </div>
                <br />
                <div class="btn-class">
                    <input type="submit" name="Submit" value="Update" class="submitBtn" />

                </div>



            </form>


        </div>
    </section>
}