@page
@model SoftwareEnginner_ClubBaist.Pages.ScoreModel
@{
    ViewData["Title"] = "Golf Score";
}
@section ScoreScript
 {

    <script src="~/libraries/jquery/jquery.js"> </script>
    <script src="~/libraries/jquery-validate/jquery.validate.js"></script>
    <script src="~/libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

} 

@section GolfScoreSection
{
    <h1>Score</h1>
}